*,
*:after,
*:before {
  @include box-sizing(border-box);
}
body{
  overflow: hidden;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.board-grid{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}


