body.locked {
    overflow: hidden;
}

.app-layout {
    display: flex;
    flex-direction: column;
    background-color: $offblue;
    @include breakpoint(lg) {
        flex-direction: row;
    }
}

main {
    height: 100%;
    width: 100%;
    background-color: $offblue;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
}

.panel-col {
    width: 100%;
    @include breakpoint(lg) {
        width: 50%;
    }
}

.loggedout {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.panel {
    position: relative;
    width: 100%;
    padding: 2rem 20px;
    margin-bottom: 40px;
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    h2 {
        font-size: rem-calc(18);
        margin-bottom: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &.wide {
        width: 600px;
    }
    @include breakpoint(lg) {
        width: 450px;
        padding: 2rem;
    }
}

.center-block {
    text-align: center;
}