

@font-face {
    font-family: 'sofia-regular';
    src: url('./fonts/sofiapro-regular.woff2') format('woff2'),
         url('./fonts/sofiapro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia-bold';
    src: url('./fonts/sofiapro-bold.woff2') format('woff2'),
         url('./fonts/sofiapro-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//@include font-face('Ionicons', 'fonts/ionicons', 'normal', 'normal');

// @font-face {
//  font-family: "Ionicons";
//  src:url("#{fonts}/ionicons.eot?v=#{$ionicons-version}");
//  src:url("#{fonts}/ionicons.eot?v=#{$ionicons-version}#iefix") format("embedded-opentype"),
//   url("#{fonts}/ionicons.ttf?v=#{$ionicons-version}") format("truetype"),
//   url("#{fonts}/ionicons.woff?v=#{$ionicons-version}") format("woff"),
//   url("#{fonts}/ionicons.svg?v=#{$ionicons-version}#Ionicons") format("svg");
//  font-weight: normal;
//  font-style: normal;
// }
