

* , *:before, *:after {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  width:100%;
  //@include rem("font-size", $regularSize);
  text-rendering: geometricPrecision;
}
// body::-webkit-scrollbar {
//     width: 1em;
// }

// body::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

// body::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }

a{
  transition: all .3s ease ;
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a:hover{
  cursor: pointer;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
}

ol {
  margin:0;
  padding:0;
}
dd{
  -webkit-margin-start: 0;
}
p {
  padding:0;
  @include rem("margin", 0, 0, 5, 0);
}
a{
  text-decoration: none;
}
hr {
  box-sizing: content-box;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  font-weight: normal;
  text-rendering: geometricPrecision;
  -webkit-margin-before: 0;
  -webkit-margin-after:0;
}

fieldset {
  border:none;
  margin:0;
  padding:0;
}
input[type='submit']{
  border: none;
}

button {
  cursor:pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
}

%clearfix {
  @include clearfix();
}

img{
  max-width: 100%;
}
