

body{
  font-family: 'sofia-regular', sans-serif;
  color: $black;
}

p {
  font-size: rem-calc(18);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'sofia-bold', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: rem-calc(28);
  line-height: 1.1;
  @include breakpoint(lg){
      font-size: rem-calc(45);
      margin-bottom: rem-calc(30);
  }
}
