// ----------------------------------------------------------------------
// Color Palette
// ----------------------------------------------------------------------
$white: #ffffff;
$offwhite: #fcfcfc;
$offblue: #f0f2f3;
$black: #484848;
$black-dk: #111112;
$gray: #95a09e;
$gray-dk: #484848;
$gray-lt: #b6c3ca;
$orange: #F25A30;
$red: #e51d35;
$green: #009d7e;
$yellow: #ff9e00;
$turq: #1686b0;
$blue: #377bff;
$blue-lt: #54abee;
$blue-dk: #0d4063;
.bg-gray {
    background-color: $gray-dk;
}

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1440px;
$breakpoint-sm: 500px !default;
$breakpoint-med: 640px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xlg: 1600px !default;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica,
Arial,
sans-serif;
$OpenSans: 'Open Sans',
sans-serif;
$font-light: 'sofia-regular',
sans-serif;
$font-semi: 'ProximaNova-Semibold',
sans-serif;
$font-bold: 'sofia-bold',
sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
// ----------------------------------------------------------------------
// Forms
// ----------------------------------------------------------------------