.bg-gray {
  background-color: #484848; }

@font-face {
  font-family: 'sofia-regular';
  src: url("./fonts/sofiapro-regular.woff2") format("woff2"), url("./fonts/sofiapro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sofia-bold';
  src: url("./fonts/sofiapro-bold.woff2") format("woff2"), url("./fonts/sofiapro-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

input[type='submit'] {
  border: none; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent; }

img {
  max-width: 100%; }

body {
  font-family: 'sofia-regular', sans-serif;
  color: #484848; }

p {
  font-size: 1.125rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'sofia-bold', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 1.75rem;
  line-height: 1.1; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 2.8125rem;
      margin-bottom: 1.875rem; } }

body.locked {
  overflow: hidden; }

.app-layout {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f3; }
  @media (min-width: 1024px) {
    .app-layout {
      flex-direction: row; } }

main {
  height: 100%;
  width: 100%;
  background-color: #f0f2f3; }

.container {
  max-width: 1100px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 20px; }

.panel-col {
  width: 100%; }
  @media (min-width: 1024px) {
    .panel-col {
      width: 50%; } }

.loggedout {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  padding: 40px;
  text-align: center; }

.panel {
  position: relative;
  width: 100%;
  padding: 2rem 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden; }
  .panel h2 {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .panel.wide {
    width: 600px; }
  @media (min-width: 1024px) {
    .panel {
      width: 450px;
      padding: 2rem; } }

.center-block {
  text-align: center; }

.title-bar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #fcfcfc;
  z-index: 10; }
  .title-bar.is-dark {
    background-color: #484848;
    justify-content: center; }
  .title-bar h1 {
    font-size: 1rem;
    font-family: "sofia-regular", sans-serif;
    margin: 0; }
  @media (min-width: 1024px) {
    .title-bar {
      height: 90px;
      padding: 0 50px; }
      .title-bar h1 {
        font-size: 1.5rem; } }

.mobile-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #484848;
  text-align: center; }
  .mobile-header > img {
    max-height: 30px; }
  @media (min-width: 1024px) {
    .mobile-header {
      display: none; } }

footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background-color: #484848; }
  @media (min-width: 1024px) {
    footer {
      height: 350px; } }

.footer-row {
  margin: auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1024px) {
    .footer-row {
      width: 850px;
      flex-direction: row;
      justify-content: space-between; } }

.footer-links {
  margin-bottom: 2rem; }
  .footer-links > p {
    color: #b6c3ca;
    margin-bottom: 20px; }
  .footer-links > a {
    color: #ffffff;
    display: block;
    margin-bottom: 15px; }
  .footer-links small {
    color: #ffffff; }
  @media (min-width: 1024px) {
    .footer-links {
      margin-bottom: 0; } }

.social-links {
  margin: 1.25rem 0; }
  .social-links a {
    color: #ffffff;
    font-size: 2rem;
    margin-right: 1.5rem; }

.drawer {
  position: fixed;
  top: 51px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: #484848;
  transform: translateX(-101%);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 90; }
  .drawer.is-open {
    transform: translateX(0); }

aside {
  display: none;
  width: 280px;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #484848; }
  aside > h3 {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 12px 35px; }
  @media (min-width: 1024px) {
    aside {
      display: block; } }

aside .logo {
  padding: 0 25px;
  margin-bottom: 20px; }

nav > a,
nav > button {
  display: flex;
  align-items: center;
  padding: 20px 35px;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out; }
  nav > a.selected,
  nav > button.selected {
    background-color: #2f2f2f; }
  nav > a:hover,
  nav > button:hover {
    background-color: #3b3b3b; }
  nav > a > i,
  nav > button > i {
    font-size: 2rem;
    margin-right: 1rem;
    vertical-align: middle; }
  nav > a > img,
  nav > button > img {
    max-height: 30px;
    margin-right: 15px; }

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 125px 15px 15px 20px;
  background: linear-gradient(328.29deg, #E8EDF3 22.38%, #FDFDFD 100.93%, #FCFCFC 122.38%);
  border-top: 1px solid #B6C3CA;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .2s ease-in;
  text-align: center;
  will-change: transform; }
  .mobile-nav.is-open {
    transform: translateY(0);
    opacity: 1;
    z-index: 10; }
  .mobile-nav > a {
    display: block;
    font-size: 1.75rem;
    color: #484848;
    margin-bottom: 50px; }

.hamburger {
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 100; }
  .hamburger:hover {
    opacity: 0.7; }
  @media (min-width: 1024px) {
    .hamburger {
      display: none; } }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::after, .hamburger-inner::before {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -9px; }
  .hamburger-inner::after {
    bottom: -9px; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 1px; }
  .hamburger--slider .hamburger-inner::before {
    top: 9px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 18px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 9px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-4.28571px, -7px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -18px, 0) rotate(-90deg); }

.action-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #377bff;
  text-align: right;
  transition: color 0.2s ease-in-out; }
  .action-link:hover {
    color: #0459ff; }

.btn-action-row {
  display: flex;
  border-top: 1px solid #b8c3ca; }
  .btn-action-row > button {
    height: 44px;
    width: 50%;
    border-radius: 0;
    font-size: 0.9375rem;
    font-family: "sofia-bold", sans-serif;
    color: #F25A30; }
    .btn-action-row > button:first-child {
      border-right: 1px solid #b8c3ca;
      color: #484848; }

.btn-shadow, .btn-profile {
  width: 100%;
  height: 50px;
  display: block;
  box-shadow: 2px 4px 6px rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 0.875rem;
  color: #377bff;
  letter-spacing: 1.5; }

.btn-profile {
  width: 450px;
  font-size: 1rem; }
  .btn-profile.is-blue {
    background-color: #377bff;
    color: #ffffff; }

.btn-block {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #377bff;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  font-family: "sofia-bold"; }

.blue-btn, .btn-submit, .btn-submit_sm, .btn-submit_radio {
  background-color: #377bff;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease-in-out; }
  .blue-btn:hover, .btn-submit:hover, .btn-submit_sm:hover, .btn-submit_radio:hover {
    background-color: #0459ff; }
  .blue-btn:disabled, .btn-submit:disabled, .btn-submit_sm:disabled, .btn-submit_radio:disabled {
    opacity: 0.7;
    cursor: not-allowed; }

.inline-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-cancel {
  height: 40px;
  color: #F25A30;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.btn-pay {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #377bff;
  text-decoration: none;
  transition: all 150ms ease;
  margin-top: 10px; }
  .btn-pay:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }

.btn-submit {
  height: 60px;
  width: 150px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.125rem;
  outline: none; }
  .btn-submit:disabled {
    opacity: 0.7;
    cursor: not-allowed; }

.btn-submit_sm {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.125rem;
  outline: none; }

.btn-submit_radio {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 1.125rem;
  outline: none;
  margin-left: 1.5rem; }
  .btn-submit_radio > img {
    display: none;
    max-width: 30px; }
  .btn-submit_radio.is-loading > span {
    display: none; }
  .btn-submit_radio.is-loading > img {
    display: inline-block; }

.share-link {
  display: block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.pricing-tab {
  width: 295px;
  display: flex;
  margin: 4rem auto 2rem auto;
  box-shadow: 0 2px 7px rgba(170, 170, 170, 0.5); }
  .pricing-tab--selector {
    width: 50%;
    height: 46px;
    background-color: #ffffff;
    font-family: "sofia-bold", sans-serif;
    font-size: 1.25rem;
    color: #484848;
    text-align: center; }
    .pricing-tab--selector.is-active {
      background-color: #377bff;
      color: #ffffff; }

.price-title {
  height: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 1rem; }
  .price-title h1 {
    font-size: 2.5rem; }
    .price-title h1 span {
      font-size: 1.25rem; }
  .price-title > p {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6875rem; }

.payment-confirm {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-100%);
  color: #2bb673;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.25s ease; }
  .payment-confirm > img {
    max-width: 150px;
    margin-bottom: 3rem; }
  .payment-confirm.is-active {
    opacity: 1;
    transform: translateY(0); }

.welcome-title {
  display: block;
  margin-bottom: 2rem;
  color: #377bff;
  font-size: 1.5625rem; }
  @media (min-width: 1024px) {
    .welcome-title {
      display: none; } }

.plan-details {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center; }
  .plan-details > img {
    max-height: 40px;
    margin-top: 20px;
    margin-bottom: 2rem; }

.status-calendar h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  letter-spacing: 1.5; }

.status-calendar p {
  font-size: 0.75rem;
  color: #95a09e;
  text-transform: uppercase; }

.plan-canceldate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  mask-type: 2rem; }
  .plan-canceldate > a {
    color: #377bff;
    text-align: right;
    transition: color 0.2s ease-in-out; }
    .plan-canceldate > a:hover {
      color: #0459ff; }

.history-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 1rem; }
  .history-table a {
    color: #377bff; }

.hist-row {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem; }
  .hist-row.head {
    margin-bottom: 1rem; }
  .hist-row > span {
    min-width: 220px; }
  .hist-row > em {
    color: #95a09e;
    font-style: normal; }

.next-charge {
  display: block;
  font-style: italic;
  color: #95a09e;
  margin-bottom: 3rem; }

.profile-section .input-wrap {
  position: relative;
  height: 60px;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  border: 1px solid #b8c3ca;
  border-radius: 5px; }
  .profile-section .input-wrap.has-focus {
    border-color: #377bff; }

.profile-section input[type="tel"],
.profile-section input[type="text"],
.profile-section input[type="email"] {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  margin-top: 5px;
  margin-bottom: 1.5rem;
  display: flex;
  border: 1px solid #b8c3ca;
  border-radius: 5px;
  font-size: 0.9375rem; }
  .profile-section input[type="tel"]:focus,
  .profile-section input[type="text"]:focus,
  .profile-section input[type="email"]:focus {
    border-color: #377bff;
    outline: none; }

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white; }

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease; }

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(72, 72, 72, 0.7);
  transition: opacity 0.2s ease;
  opacity: 0;
  z-index: -1; }
  .modal.is-open {
    opacity: 1;
    z-index: 100; }

.modal-panel {
  width: 450px;
  background-color: #ffffff;
  border-radius: 5px; }
  .modal-panel h2 {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .modal-panel--content {
    padding: 2rem; }

.alert-declined {
  position: relative;
  width: 450px;
  padding: 1.5rem;
  margin-bottom: 40px;
  background-color: #F25A30;
  border-radius: 5px;
  color: #ffffff; }
  .alert-declined p {
    font-size: 0.875rem; }

.terms {
  max-width: 900px;
  max-height: calc(100vh - 90px);
  margin: auto;
  padding: 2rem;
  overflow: auto; }
  .terms h2 {
    margin: 2rem 0; }
  .terms p {
    font-size: 0.875rem; }
  .terms li {
    margin-bottom: 1rem; }

.card {
  position: relative;
  backface-visibility: hidden;
  transition: transform 300ms;
  perspective: 800px;
  z-index: 2; }
  .card.flipped .front {
    transform: rotateY(-180deg); }
  .card.flipped .back {
    transform: rotateY(0deg); }

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  border-radius: 5px; }

.front {
  transform: rotateY(0deg); }

.back {
  height: 125px;
  padding: 20px;
  transform: rotateY(180deg);
  background-color: #fcfcfc;
  border: 1px solid #377bff;
  overflow: hidden; }
  .back h4 {
    color: #377bff; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }
