.alert-declined {
    position: relative;
    width: 450px;
    padding: 1.5rem;
    margin-bottom: 40px;
    background-color: $orange;
    border-radius: 5px;
    color: $white;
    p {
        font-size: rem-calc(14);
    }
}