.action-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $blue;
    text-align: right;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: darken($blue, 10%);
    }
}

.btn-action-row {
    display: flex;
    border-top: 1px solid #b8c3ca;
    >button {
        height: 44px;
        width: 50%;
        border-radius: 0;
        font-size: rem-calc(15);
        font-family: $font-bold;
        color: $orange;
        &:first-child {
            border-right: 1px solid #b8c3ca;
            color: $gray-dk;
        }
    }
}

.btn-shadow {
    width: 100%;
    height: 50px;
    display: block;
    box-shadow: 2px 4px 6px rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    background-color: $white;
    font-size: rem-calc(14);
    color: $blue;
    letter-spacing: 1.5;
}

.btn-profile {
    @extend .btn-shadow;
    width: 450px;
    font-size: rem-calc(16);
    &.is-blue {
        background-color: $blue;
        color: $white;
    }
}

.btn-block {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $blue;
    font-size: rem-calc(16);
    color: $white;
    text-align: center;
    font-family: "sofia-bold";
}

.blue-btn {
    background-color: $blue;
    color: $white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: darken($blue, 10%);
    }
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.inline-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cancel {
    height: 40px;
    color: $orange;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-pay {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: $blue;
    text-decoration: none;
    transition: all 150ms ease;
    margin-top: 10px;
    &:hover {
        color: #fff;
        cursor: pointer;
        background-color: #7795f8;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
}

.btn-submit {
    height: 60px;
    width: 150px;
    @extend .blue-btn;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: rem-calc(18);
    outline: none;
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.btn-submit_sm {
    height: 40px;
    width: 40px;
    @extend .blue-btn;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: rem-calc(18);
    outline: none;
}

.btn-submit_radio {
    height: 40px;
    width: 100px;
    @extend .blue-btn;
    border-radius: 5px;
    font-size: rem-calc(18);
    outline: none;
    margin-left: 1.5rem;
    >img {
        display: none;
        max-width: 30px;
    }
    &.is-loading {
        >span {
            display: none;
        }
        >img {
            display: inline-block;
        }
    }
}

.share-link {
    display: block;
    -webkit-tap-highlight-color: rgba($white, 0);
}