.drawer {
  position: fixed;
  top: 51px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0; //background: linear-gradient(to bottom, rgba($gray-lt, 1) 0%, rgba($gray, 1) 100%);
  background-color: $gray-dk;
  transform: translateX(-101%);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 90;
  &.is-open {
    transform: translateX(0);
  }
}
