footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background-color: $black;

  @include breakpoint(lg){
    height: 350px;
  }
}

.footer-row {
  margin: auto;
  display: flex;
  flex-direction: column;

  @include breakpoint(lg){
    width: 850px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-links {
  margin-bottom: 2rem;
  > p {
    color: $gray-lt;
    margin-bottom: 20px;
  }
  > a {
    color: $white;
    display: block;
    margin-bottom: 15px;
  }
  small {
    color: $white;

  }

  @include breakpoint(lg){
    margin-bottom: 0;
  }
}

.social-links {
  margin: 1.25rem 0;
  a {
    color: $white;
    font-size: 2rem;
    margin-right: 1.5rem;
  }
}
