
.footer-nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: $offwhite;
    >a{
        width: calc(100% / 3);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 50px;
        text-align: center;
        color: $black;
        >img{
            max-height: 30px;
        }
        &.is-active{
            background-color: darken( $offwhite, 12%);
        }
    }
}