.profile-section {
    .input-wrap {
        position: relative;
        height: 60px;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        border: 1px solid #b8c3ca;
        border-radius: 5px;
        &.has-focus {
            border-color: $blue;
        }
    }
    input[type="tel"],
    input[type="text"],
    input[type="email"] {
        position: relative;
        height: 60px;
        width: 100%;
        padding: 0 20px;
        margin-top: 5px;
        margin-bottom: 1.5rem;
        display: flex;
        border: 1px solid #b8c3ca;
        border-radius: 5px;
        font-size: rem-calc(15);
        &:focus {
            border-color: $blue;
            outline: none;
        }
    }
}

.StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
}

.StripeElement--focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}