.title-bar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: $offwhite;
    z-index: 10;
    &.is-dark {
        background-color: $black;
        justify-content: center;
    }
    h1 {
        font-size: rem-calc(16);
        font-family: $font-light;
        margin: 0;
    }
    @include breakpoint(lg) {
        height: 90px;
        padding: 0 50px;
        h1 {
            font-size: rem-calc(24);
        }
    }
}

.mobile-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $gray-dk;
    text-align: center;
    >img {
        max-height: 30px;
    }
    @include breakpoint(lg) {
        display: none;
    }
}