.history-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 1rem;
    a {
        color: $blue;
    }
}

.hist-row {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    &.head {
        margin-bottom: 1rem;
    }
    >span {
        min-width: 220px;
    }
    >em {
        color: $gray;
        font-style: normal;
    }
}

.next-charge {
    display: block;
    font-style: italic;
    color: $gray;
    margin-bottom: 3rem;
}