

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left:0;
  padding: 125px 15px 15px 20px;
  background: linear-gradient(328.29deg, #E8EDF3 22.38%, #FDFDFD 100.93%, #FCFCFC 122.38%);
  border-top: 1px solid #B6C3CA;
  transform: translateY(-100%);
  opacity:0;
  transition: transform .3s ease-in-out, opacity .2s ease-in;
  text-align: center;
  will-change: transform;

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
  }

  > a {
    display: block;
    font-size: rem-calc(28);
    color: $black;
    margin-bottom: 50px;
  }
}
