.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba($black, 0.7);
  transition: opacity 0.2s ease;
  opacity: 0;
  z-index: -1;
  &.is-open {
    opacity: 1;
    z-index: 100;
  }
}

.modal-panel {
  width: 450px;
  background-color: $white;
  border-radius: 5px;
  h2 {
    font-size: rem-calc(18);
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--content {
    padding: 2rem;
  }
}
