aside {
    display: none;
    width: 280px;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: $gray-dk;
    >h3 {
        color: $white;
        line-height: 1.5;
        margin-bottom: 1rem;
        padding: 12px 35px;
    }
    @include breakpoint(lg) {
        display: block;
    }
}

aside .logo {
    padding: 0 25px;
    margin-bottom: 20px;
}

nav {
    >a,
    >button {
        display: flex;
        align-items: center;
        padding: 20px 35px;
        font-size: rem-calc(14);
        color: $white;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;
        &.selected {
            background-color: darken($black, 10%);
        }
        &:hover {
            background-color: darken($black, 5%);
        }
        >i {
            font-size: 2rem;
            margin-right: 1rem;
            vertical-align: middle;
        }
        >img {
            max-height: 30px;
            margin-right: 15px;
        }
    }
}