.overlay {
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    transform: translateY(100%);
    background-color: $white;
    transition: transform .2s ease;
    &.is-open{
        transform: translateY(0);
    }
    a{
        display: block;
        padding: 1.2rem 0;
        color: $gray-dk;
        font-size: .9rem;
        border-bottom: 1px solid $gray-lt;
        transform: translateY(30);
        &:last-child{
            border-bottom: none;
        }
        &.toggle-close {
            color: $blue-lt;
            &:hover {
                color: darken($blue-lt, 5%);
            }
        }
    }
}