.plan-details {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  > img {
    max-height: 40px;
    margin-top: 20px;
    margin-bottom: 2rem;
  }
}

.status-calendar {
  h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: rem-calc(30);
    letter-spacing: 1.5;
  }
  p {
    font-size: rem-calc(12);
    color: $gray;
    text-transform: uppercase;
  }
}

.plan-canceldate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  mask-type: 2rem;
  > a {
    color: $blue;
    text-align: right;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: darken($blue, 10%);
    }
  }
}
