.pricing-tab {
  width: 295px;
  display: flex;
  margin: 4rem auto 2rem auto;
  box-shadow: 0 2px 7px rgba(170, 170, 170, 0.5);
  &--selector {
    width: 50%;
    height: 46px;
    background-color: $white;
    font-family: $font-bold;
    font-size: rem-calc(20);
    color: $black;
    text-align: center;
    &.is-active {
      background-color: $blue;
      color: $white;
    }
  }
}

.price-title {
  height: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  h1 {
    font-size: rem-calc(40);
    span {
      font-size: rem-calc(20);
    }
  }
  > p {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: rem-calc(11);
  }
}

.payment-confirm {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($white, 0.8);
  transform: translateY(-100%);
  color: #2bb673;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.25s ease;
  > img {
    max-width: 150px;
    margin-bottom: 3rem;
  }
  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-title {
  display: block;
  margin-bottom: 2rem;
  color: $blue;
  font-size: rem-calc(25);
  @include breakpoint(lg) {
    display: none;
  }
}
