.terms {
    max-width: 900px;
    max-height: calc(100vh - 90px);
    margin: auto;
    padding: 2rem;
    overflow: auto;
    h2 {
        margin: 2rem 0;
    }
    p {
        font-size: rem-calc(14);
    }
    li {
        margin-bottom: 1rem;
    }
}