

.card {
  position: relative;
   backface-visibility: hidden;
   transition: transform 300ms;
   perspective: 800px;
   z-index: 2;
   &.flipped {
     .front {transform: rotateY(-180deg)}
     .back {transform: rotateY(0deg)}
   }
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    border-radius: 5px;
}
.front {
    transform: rotateY(0deg);
}
.back {
    height: 125px;
    padding: 20px;
    transform: rotateY(180deg);
    background-color: $offwhite;
    border: 1px solid $blue;
    h4{color: $blue}
    overflow: hidden;
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
